.section-forms {
  position: relative;
  overflow: hidden;
  padding-top: 208px;
  padding-bottom: 112px;
  background: #000000;
  }
  @media (max-width: 1024px) {
    .section-forms {
      padding-top: 128px;
      padding-bottom: 62px; } }

.form__select {
  height: 56px; }
  .form__select .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    color: #E0E0FF;
    width: 100%;
    height: 56px; }
  .form__select .select-hidden {
    display: none; }
  .form__select .select-styled {
    position: absolute;
    display: flex;
    align-items: center;
    border: 1px solid #545454;
    background: #181818;
    mix-blend-mode: normal;
    padding: 0 20px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 28px;
    color: #686868;
    }
    .form__select .select-styled:after {
      content: "";
      position: absolute;
      right: 20px;
      top: 16px;
      width: 24px;
      height: 24px;
      background: url("../images/sprites/svg/chevron_down.svg") center center no-repeat;
      background-size: contain; }
    .form__select .select-styled:active:after, .form__select .select-styled.active:after {
      transform: rotate(180deg); }
    @media (max-width: 1024px) {
      .form__select .select-styled {
        padding: 0 16px; } }
  .form__select .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #1f1f23;
    border-radius: 12px; }
    .form__select .select-options li {
      padding: 10px 20px;
      font-size: 16px;
      line-height: 28px;
      transition: all 0.5s linear; }
      .form__select .select-options li:hover, .form__select .select-options li.is-selected {
        opacity: 0.7; }
      .form__select .select-options li[rel="hide"] {
        display: none; }

@media (min-width: 1025px) {
  .form__container {
    margin: 40px auto 0;
    width: 604px;
    } }

@media (max-width: 1024px) {
  .form__container {
    margin-top: 32px;
    padding: 0 24px; } }

@media (min-width: 1025px) {
  .form__col {
    display: flex;
    align-items: center;
    justify-content: space-between; } }

.form__field {
  margin-bottom: 24px; }
  @media (min-width: 1025px) {
    .form__field--2 {
      width: calc(50% - 12px); } }
  @media (max-width: 1024px) {
    .form__field {
      margin-bottom: 20px; } }

.form__label {
  padding-left: 6px;
  margin-bottom: 8px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgb(255 255 255);
  }

.form__input {
  position: relative;
  height: 56px;
  border: 1px solid #545454;
  background: #181818;
  mix-blend-mode: normal;
  border-radius: 12px;
  font-size: 16px;
  line-height: 28px;
  }
  .form__input.is-error {
    border-color: #FF4B24; }
  .form__input .error {
    position: absolute;
    right: 0;
    bottom: -21px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FF4B24; }
  .form__input input {
    padding: 0 20px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    }
    .form__input input::placeholder {
      font-size: 16px;
      line-height: 28px;
      color: #686868;
      mix-blend-mode: normal;
      opacity: 0.6; }
    @media (max-width: 1024px) {
      .form__input input {
        padding: 0 16px; } }
  .form__input--password .icon {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    background: url("../images/sprites/svg/icon-open.svg") center center no-repeat;
    background-size: contain;
    cursor: pointer; }
    .form__input--password .icon.is-open {
      background: url("../images/sprites/svg/icon-close.svg") center center no-repeat;
      background-size: contain; }

.form__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #686868;
  text-align: center;
  }
  .form__description a {
    color: #EF4A6F;
    }

    .form__description-2 {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #686868;
      padding: 0px 0px 20px 0px;
      text-align: right;
  }
    

  .form__textarea {
    background: rgb(24 24 24);
    border: 1px solid rgb(84 84 84);
    border-radius: 12px;
    font-size: 16px;
    height: 126px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: relative;
}


.form__textarea textarea {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  height: 100%;
  line-height: 28px;
  mix-blend-mode: normal;
  outline: none;
  padding: 10px 20px;
  width: 100%;
}


.form__textarea textarea::placeholder {
  font-size: 16px;
  line-height: 28px;
  color: #686868;
  mix-blend-mode: normal;
  opacity: 0.6; }



  .contacts__map {
    height: 464px;
    margin-top: 39px;
    width: 100%;
}